In [4]:
## Importing ncecesary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
## Setting up display options
## Setting up file options
pd.set_option('display.max_rows',100)
pd.set_option('display.max_columns',100)
import mitosheet

In [6]:
## Reading input file 
ecom = pd.read_excel(r"E_com_Data.xlsx")

In [7]:
ecom.head(10)

,CustomerID,Item Code,InvoieNo,Date of purchase,Quantity,Time,price per Unit,Price,Shipping Location,Cancelled_status,Reason of return,Sold as set
0,4355.0,15734,398177,2017-10-29,6,15:36:00,321.0,1926.0,Location 1,NaN,NaN,NaN
1,4352.0,14616,394422,2017-10-05,2,14:53:00,870.0,1740.0,Location 1,NaN,NaN,NaN
2,4352.0,14614,394422,2017-10-12,2,14:53:00,933.0,1866.0,Location 1,NaN,NaN,NaN
3,4352.0,85014B,388633,2017-08-22,3,14:47:00,623.0,1869.0,Location 1,NaN,NaN,NaN
4,4352.0,15364,394422,2017-10-10,2,14:53:00,944.0,1888.0,Location 1,NaN,NaN,NaN
5,4349.0,14618,397122,2017-10-27,1,12:43:00,256.0,256.0,Location 1,NaN,NaN,NaN
6,4343.0,15364,368432,2017-02-13,-4,14:46:00,922.0,-3688.0,Location 1,1.0,NaN,NaN
7,4341.0,85014B,377109,2017-05-14,3,09:22:00,677.0,2031.0,Location 1,NaN,NaN,NaN
8,4341.0,85014A,377109,2017-05-12,3,09:22:00,692.0,2076.0,Location 1,NaN,NaN,NaN
9,4341.0,85014B,390217,2017-09-07,6,14:47:00,670.0,4020.0,Location 1,NaN,NaN,NaN

# EDA on raw data below:

## 1.costomer id frequencies state about how many no. of times transaction happened for specific CustomerID

In [16]:


# Import plotly and create a figure
import plotly.graph_objects as go
fig = go.Figure()


# Add the histogram traces to the figure
for column_header in ['CustomerID']:
    fig.add_trace(go.Histogram(x=ecom[column_header], name=column_header))

# Update the layout
# See Plotly documentation for customizations: https://plotly.com/python/reference/histogram/
fig.update_layout(
	xaxis_title='CustomerID',
    title='CustomerID frequencies',
    barmode='group'
)
fig.show(renderer="iframe")

## 2. Below graph highlights Price segments in which most transaction happened.

In [24]:
# Import plotly and create a figure
import plotly.graph_objects as go
fig = go.Figure()


# Filter the dataframe so that it doesn't crash the browser with too much data
from mitosheet import filter_df_to_safe_size
ecom_filtered, _ = filter_df_to_safe_size('scatter', ecom, ['CustomerID', 'Price'])


# Add the scatter traces to the figure
for column_header in ['CustomerID']:
    fig.add_trace(go.Scatter(
        x=ecom_filtered[column_header],
        y=ecom_filtered['Price'],
        mode='markers',
        name=column_header
    ))

# Update the layout
# See Plotly documentation for cutomizations: https://plotly.com/python/reference/scatter/
fig.update_layout(
    xaxis_title='CustomerID',
    yaxis_title='Price',
    title='CustomerID, Price (first 10k) scatter plot',
)
fig.show(renderer="iframe")

## 3. Bar plot which states volume of sales with costomer by shipping locations

In [30]:
# Import plotly and create a figure
import plotly.graph_objects as go
fig = go.Figure()


# Filter the dataframe so that it does not crash the browser
from mitosheet import filter_df_to_safe_size
ecom_filtered, _ = filter_df_to_safe_size('bar', ecom, ['Shipping Location'], ['CustomerID'])


# Add the bar chart traces to the graph
for column_header in ['Shipping Location']:
    fig.add_trace(
        go.Bar( 
            x=ecom_filtered[column_header],
            y=ecom_filtered['CustomerID'],
            name=column_header
        )
    )

# Update the title and stacking mode of the graph
# See Plotly documentation for customizations: https://plotly.com/python/reference/bar/
fig.update_layout(
    xaxis_title='Shipping Location',
    yaxis_title='CustomerID',
    title='Shipping Location, CustomerID (first 5k) bar chart',
    barmode='group',
)
fig.show(renderer="iframe")

## 4.Below bar plot highlight sales growth quarterly. OR increased in costomer engagement in quaterly time period.

In [32]:
# Import plotly and create a figure
import plotly.graph_objects as go
fig = go.Figure()


# Filter the dataframe so that it does not crash the browser
from mitosheet import filter_df_to_safe_size
ecom_filtered, _ = filter_df_to_safe_size('bar', ecom, ['Date of purchase'], ['CustomerID'])


# Add the bar chart traces to the graph
for column_header in ['Date of purchase']:
    fig.add_trace(
        go.Bar( 
            x=ecom_filtered[column_header],
            y=ecom_filtered['CustomerID'],
            name=column_header
        )
    )

# Update the title and stacking mode of the graph
# See Plotly documentation for customizations: https://plotly.com/python/reference/bar/
fig.update_layout(
    xaxis_title='Date of purchase',
    yaxis_title='CustomerID',
    title='Date of purchase, CustomerID (first 5k) bar chart',
    barmode='group',
)
fig.show(renderer="iframe")

## 5. This one is optional for price segment distribution.

In [28]:
# Import plotly and create a figure
import plotly.graph_objects as go
fig = go.Figure()


# Add the histogram traces to the figure
for column_header in ['Price']:
    fig.add_trace(go.Histogram(x=ecom[column_header], name=column_header))

# Update the layout
# See Plotly documentation for customizations: https://plotly.com/python/reference/histogram/
fig.update_layout(
	xaxis_title='Price',
    title='Price frequencies',
    barmode='group'
)
fig.show(renderer="iframe")